@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

@keyframes slide-up {
  from {
    transform: translateY(160%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes appear-opacity {
  from {
    opacity: 0;
  }
  to {
    transform: 1;
  }
}

.photo {
  animation: appear-opacity 2500ms;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 50%;
  bottom: 4vw;
  display: inline-block;
  height: 75px;
  padding: 2px;
  position: fixed;
  right: 4vw;
  width: 75px;
  @include margin-bottom(0);

  @media (prefers-reduced-motion: no-preference) {
    animation: slide-up 5000ms;
  }
}

.post {
  .content {
    @include margin-auto();
  }

  .footer {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .button {
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    color: $color-base;
    display: block;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    height: $button-height;
    line-height: $button-height;
    margin-left: auto;
    margin-right: auto;
    max-width: 90px;
    text-align: center;
    @include padding(0, 1);
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
}

@include breakpoint-md {
  .post {
    .footer {
      @include padding-equal(0);
    }

    .comments {
      @include padding-equal(0);
    }

    .button {
      left: 30px;
      max-width: none;
      position: fixed;
      top: 30px;
      @include margin-equal(0);
    }
  }
}
